@namespace Pokewordle.Components.Cells
@inherits Microsoft.AspNetCore.Components.ComponentBase
@using Pokewordle.Shared.Extensions;
@using Pokewordle.Shared.HtmlUtil

<td class="@Cell.HtmlClass" id="@Cell.HtmlId" style="width: @(Cell.GetColumnWidth())em; padding: 0px; background-color: @Cell.Background;">
    @foreach(string typeName in Cell.TypeNames)
    {
        <div class="poke-type-border">
            <div class="pokemon-type" style="background-color: @PokeTypeCellData.TypeNameToColorHexString(typeName)">@typeName.FirstCharToUpper()</div>
        </div>
        Console.WriteLine(typeName);
    }
</td>

@code {
    [Parameter]
    [EditorRequired]
    public PokeTypeCellData Cell { get; set; }
}
