@namespace Pokewordle.Components.Cells
@inherits Microsoft.AspNetCore.Components.ComponentBase
@using Pokewordle.Shared.HtmlUtil

<td class="@Cell.HtmlClass" id="@Cell.HtmlId" style="padding: 0px; background-color: @Cell.Background;">
    @foreach(string typeName in Cell.TypeNames)
    {
        <div class="poke-type-border" style="border-width: 3px; border-radius:5px; padding: 5px; margin: 5px;">
            <div class="pokemon-type" style="text-align:center; vertical-align: middle; border-radius: 5px; margin: 5px; background-color: @PokeTypeTableCell.TypeNameToColorHexString(typeName)">@typeName</div>
        </div>
        Console.WriteLine(typeName);
    }
</td>

@code {
    [Parameter]
    [EditorRequired]
    public PokeTypeTableCell Cell { get; set; }
}
