@namespace Pokewordle.Components.Cells
@inherits Microsoft.AspNetCore.Components.ComponentBase
@using Pokewordle.Shared.HtmlUtil

@* TODO clean up temp assignment of cell.background to border-color *@
<td class="@Cell.HtmlClass" id="@Cell.HtmlId" style="border-color: @Cell.Background; box-shadow: -0.2em -0.2em @Cell.Background">@Cell.DisplayString</td>

@code {
    [Parameter]
    [EditorRequired]
    public SimpleCellData Cell { get; set; }
}
