@namespace Pokewordle.Components.Cells
@inherits Microsoft.AspNetCore.Components.ComponentBase
@using Pokewordle.Shared.HtmlUtil

<td class="square @Cell.HtmlClass" id="@Cell.HtmlId" style="width: @(Cell.GetColumnWidth())em; background-color: @Cell.Background;">
    <div class="square-content">@Cell.DisplayString</div>
</td>

@code {
    [Parameter]
    [EditorRequired]
    public SimpleCellData Cell { get; set; }
}
